@import url(alpha.css);
.logo img {
    width: 90px!important;
    margin-left: 10px;
}
a {
    color: var(--text-color);
}
.blogTitle {
    background: #030611;
    width: 100vw;
    height: fit-content;
    padding-bottom: 10px;
    text-align: center;
    color: var(--text-color);
}

.blogTitle h1 {
    margin-top: 150px;
    font-size: 40px;
    font-weight: bolder;
}
.blogTitle .link {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.blogTitle .link div:hover {
    cursor: pointer;
    border-bottom: 1px solid var(--third-color);
}
.blogTitle .link div:nth-last-child(1) {
    color: var(--second-color);
}
.topicsSection {
    margin-top: 60px;
    height: fit-content;
}
.Topictitle {
    border-bottom:1px solid var(--text-color);
    color: var(--text-color);
    width: 60%;
}
.Topictitle h1 {
    font-weight: light;
    font-size: 30px;
    margin-left: 20px;
    margin-bottom: 5px;
}
.blogContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 60%;
    height: fit-content;
    margin-top: 20px;
}
.blogContainer .blog {
    position: relative;
    background: #030611;
    width: 300px;
    height: 350px;
    border-radius: 20px;
}
.imageContainer{
    border: .5px solid #505050;
    background: #505050;
    background-size:cover;
    background-repeat: no-repeat;
    width: 95%;
    margin: auto;
    margin-top: 10px!important;
    border-radius: 15px;
    height: 130px;
}
.one {
    background-image: url('../assets/blog/Background1.png');
}
.two {
    background-image: url('../assets/blog/Background.png');
}
.imageContainer .credit {
    background: #030611;
    width: fit-content;
    color: var(--text-color);
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 5px;
}
.blogContainer .blog .blogtitle {
    width: 95%;
    margin: auto;
    margin-top: 10px;
    color: var(--text-color);
    font-size: 12px;
    font-weight: light!important;
}
.blogContainer .blog .catpion {
    margin: auto;
    margin-top: 5px;
    color: var(--text-color);
    width: 95%;
}
.blogContainer .bottomsec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 10px;
    width: 95%;
}

.blogContainer .bottomsec .BlogMoreButton {
    background-size: cover;
    width: 80px;
    height: 30px;
}
.blogContainer .bottomsec .BlogMoreButton img {
    width: 110px;
    margin-top: -20px;
    margin-left: -14px;
    transition: all ease-in-out 0.1s;
}
.blogContainer .bottomsec .BlogMoreButton img:hover {
    width: 120px;
    margin-top: -25px;
    margin-left: -20px;
    cursor: pointer;
    opacity: 50%;
}
@media (max-width: 835px) {
    .header .logo img{
        display: block!important;
    }
    .Topictitle {
        width: 80%;
    }
}

@media (max-width: 1048px){
    .header {
        width: 70%;
    }
    .Topictitle {
        width: 70%;
    }
    .blogContainer {
        height: fit-content;
        width: 70%;
    }
}
@media (max-width: 904px) {
    .header {
        width: 80%;
    }
    .Topictitle {
        width: 80%;
    }
    .blogContainer {
        width: 80%;
    }
}
@media (max-width: 794px) {
    .blogContainer{
        justify-content: center;
    }
}