@import url('alpha.css');
*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
    background: var(--main-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main {
    display: flex;
    flex-direction: column;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    color: var(--text-color);
}
h2{
    color: #fff;
    font-weight: bold;
}
/* 
menu
*/
.menu {
    position: fixed;
    background: #0000006e;
    width: 100%;
    top: 0px;
    height: 100vh;
    z-index: 200;
}
.toggole {
    display: flex!important;
    align-items: center;
    justify-content: center;
}
.menu .menucenter {
    border-radius: 30px;
    border: 3px solid #ffffff10;
    background: #bbbaba1c;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px); 
    padding: 100px;
}
.menu .closebutton img{
    position: absolute;
    top: 15px;
    left: 10px;
    width: 30px!important;
}
.menu .menucenter img{
    width: 200px;
}
.menu .menucenter img:hover{
    cursor: pointer;
    filter: blur(2px);
}

/*
  header section .... 
*/
.header {
    position: fixed;
    z-index: 100;
    padding: 1px;
    height: 50px;
    margin-top: 30px!important;
    color: var(--text-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 11px;
    width: 60%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: 0.1s ease-in-out;
}
.animateheader {
    border: .3px solid #ffffff3a;
    background: #bbbaba1c;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px); 
    padding: 10px!important;
    border-radius: 10px;
}
.button {
    transition: 0.1s ease-in-out ;
}
.button:hover {
    cursor: pointer;
}

.header .icon img{
    width: 32px;
}
.header .logo img{
    width: 400px;
}
.header .themeButton{
    letter-spacing: 1px;
}
.header .themeButton .themeIcon{
    width: 43px;
    height: 30px;
    position: relative;
}
.raise {
    z-index: 1;
}
.header .themeButton .themeIcon .left {
    position: absolute;
    top: 3px;
    left: 0px;
    border-radius: 100%;
    background: #353535;
    width: 25px;
    height: 25px;
}
.header .themeButton .themeIcon .right {
    position: absolute;
    top: 3px;
    right: 0px;
    border-radius: 100%;
    background: #ffffff;
    width: 25px;
    height: 25px;
}
.header .themeButton .themeIcon .center{
    border-radius: 100%;
    position: absolute;
    background: #353535;
    width: 15px;
    height: 15px;
    z-index: 2;
    top: 8px;
    right: 5px;
    transition: 0.5s ease-in-out;
}
.move {
    left:5px!important;
    background: #ffffff!important;
}

/* middle section: chart area / chart box */
.chartbox {
    box-shadow: 0px 0px 18px 7px rgba(0, 0, 0, 0.39);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;   
    margin: 0 auto;
    margin-top: 30px!important;
    background: var(--main-color);
    border: .5px solid var(--text-color);
    width: 60%;
    height: 450px;
}
.chartbox img{
    width: 75%;
}
.freebutton {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color); 
    font-size: 20px;
    font-weight: bold;
}
.freebuttonimage img{
    margin-top: 30px;
    width: 150px;
}
.freebutton .align{
    margin-top: -35px!important;
}
.freebutton .arrow{
    margin-top: -20px!important;
}
.freebutton .arrow img {
    width: 20px;
}

/* 
    CALL TO ACTION: ceter section ...
*/
.SubHeader {
    margin-top: 50px;
}
.banners {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin-top:30px;
    justify-content: center;
}
.banners .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 300px;
    height: 500px;
}
.banners .banner .bannerImage img{
    width: 250px;
}
.banners .banner .button img {
    width: 150px;
}
.banners .banner {
    text-align: center;
}
.banners .banner p span {
    color: #fff;
    font-size: 20px;
    font-weight: bold;

}
/* video downloader and media player */

.lessonsContainer {
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
}
.freeLessons .lessonheader {
    margin-bottom: 40px;
}
.lessonsContainer .lesson {
    width: 500px;
    height: 300px;
    border-radius: 15px;
}
.lessonsContainer .lesson .caption {
    position: absolute;
    
}
.lessonsContainer .lesson .video {
    width: 100%;
    height: 100%;
}
.lessonsContainer .lesson .video iframe{
    border:2px solid var(--text-color);
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
/* mobile responsiveness */
@media (max-width: 548px){
    .lessonsContainer{
        gap: -10px!important;
    }
}
@media (max-width:548px){ 
    .lessonsContainer .lesson {
        width: 100%!important;
        height: 300px;
    }
    .lessonsContainer {
        width: 85vw;
    }
}
@media (max-width: 835px){
    .header{
        width: 80%!important;
    }
    .menu .menucenter {
        border-radius: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        padding: 0px!important;
    }
    .header .logo img{
        display: none;
    }
    .mobilelogo{
        margin-top: 50px!important;
        display: block!important;
        width: fit-content;
        margin: 0px auto;
    }
    .mobilelogo img {
        width: 150px;
    }
    .chartbox{
        display: none;
    }
    .mobileChart {
        margin-top: 50px;
        display: flex!important;
        align-items: center;
        justify-content: center;
    }
    .mobileChart img {
        width: 80%;
    }
    .menu .closebutton img{
        position: unset!important;
        margin-bottom: 50px;
    }
    .banners {
        gap: 0px!important;
    }
    .actionTitle {
        margin-bottom: -30px!important;
    }
}